<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!!
    </h1>
  </div>
  <div class="form-group">
    <label class="control-label" for="mobileBrand">Mobile Brand:</label>
    <select *ngIf="getMobileBrands()" [(ngModel)]="selectedMobileBrand" (change)="onSelectMobileBrand($event.target.value)" class="form-control input-lg">
      <option value="0">Select mobile Brand</option>
      <option *ngFor="let brand of getMobileBrands()" value={{brand.id}}>{{brand.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="mobileModel">Mobile Model:</label>
    <select *ngIf="models" [(ngModel)]="selectedMobileModel" (change)="onSelectMobileModel($event.target.value)" class="form-control input-lg">
      <option value="0">Select mobile Model</option>
      <option *ngFor="let model of models" value={{model.id}}>{{model.name}}</option>
    </select>
  </div>
</div>
